body{
background-color: Gainsboro;
font-family: Trebuchet MS, sans-serif;
text-align: center;
color: white;
display: grid;
place-items: center;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}