<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Übersicht aller Einträge</title>
</head>
<body>
<h1>Hier ist eine Übersicht aller Einträge</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Eintrag</th>
            <th>Aktionen</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="entry: ${entries}">
               <td th:text="${entry.title}">Eintrag 1</td>

        <td>
        <a  id="editEntry" th:href="@{/newEntry/{id}(id=${entry.id})}" >Bearbeiten</a>

            <form th:action="@{/entry/delete}" method="post"
                  onsubmit="return confirm('Sind Sie sicher, dass Sie diesen Eintrag löschen möchten?');">
                <input type="hidden" name="entryId" th:value="${entry.id}" />
                <button type="submit" id="deleteEntry">Löschen</button>
            </form></td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a th:href="@{/newEntry}">Neuen Eintrag erstellen</a>
</div>
</body>
</html>