<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/entries.css">
    <title>Übersicht aller Einträge</title>
</head>
<body>
<h1>Hier ist eine Übersicht aller Einträge</h1>
<div>
    <h2>Nach was möchtest du deine Einträge Filtern</h2>
    <div>
    <form th:action="@{/entries}" th:object="${filter}" method="get">

    <label for="topic">Themafilter:</label>
    <select id="topic" name="topic">
        <option value="" selected>---</option>
        <option th:each="topic : ${topics}"
                th:value="${topic.id}"
                th:text="${topic.name}"></option>
    </select>

    <label for="person">Personenfilter:</label>
    <select id="person" name="personType">

    <option value="all" selected>---</option>
    <option value="me">Mich</option>
    </select>
    <button type="submit">Anzeigen</button>
    </form>
    </div>
    <table>
        <thead>
        <tr>
            <th>Eintrag</th>
            <th>Aktionen</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="entry: ${entries}">
               <td th:text="${entry.title}">Eintrag 1</td>

        <td>
        <a  id="editEntry" th:href="@{/newEntry/{id}(id=${entry.id})}" >Bearbeiten</a>

            <form th:action="@{/entry/delete}" method="post"
                  onsubmit="return confirm('Sind Sie sicher, dass Sie diesen Eintrag löschen möchten?');">
                <input type="hidden" name="entryId" th:value="${entry.id}" />
                <a id="deleteButton"><button type="submit" id="deleteEntry">Löschen</button></a>
            </form></td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a th:href="@{/newEntry}">Neuen Eintrag erstellen</a>
    <a th:href="@{/welcome}">Zurück zur Startseite</a>
</div>
<div>
</div>
</body>
</html>