<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Unterrichtsklassen Übersicht</title>
</head>
<body>
    <h1>Wähle eine Unterrichtsklasse</h1>
    <div>
        <div th:each="teachingClass: ${teachingClass}">
            <a th:href="|/teachingClass/${teachingClass.id}/topics|" th:text="${teachingClass.name}"></a>
        </div>
    </div>
    <hr>
    <h2>Neues Klassenzimmer erstellen</h2>
    <hr>
    <form id="classroomForm" action="/createTeachingClass" method="post">
        <label for="name">Name des Klassenzimmers:</label><br/>
        <input type="text" id="name" name="name" required><br/>
        <button id="submit" type="submit">Klassenzimmer erstellen</button>
        <span type="text" th:text ="${successMessage} ? ${successMessage} : ${errorMessage}"></span>
        <input type="hidden" id="successMessage" th:value="${successMessage}">
        <input type="hidden" id="errorMessage" th:value="${errorMessage}">
    </form>
    <hr>
    <caption>Liste aller Klassenzimmer</caption>
    <table class="teachingclass_table">
        <tr>
            <th>ID:</th>
            <th>Klassenname:</th>
        </tr>
        <tr th:each="teachingClass: ${teachingClass}">
            <td th:text="${teachingClass.id}">123</td>
            <td th:text="${teachingClass.name}">Test</td>
        </tr>


    </table>
</body>
</html>
