<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/welcome.css">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
    <h1>Willkommen im Learning Journal,
        <span th:if="${user != null}" th:text="${user.firstName}"></span>
        <span th:if="${user != null}" th:text="${user.lastName}"></span> !</h1>

    <p>Hier können Sie Ihre Notizen und Lerninhalte speichern und verwalten.</p>

    <a th:href="@{/teachingClass}">Unterrichtsklassen verwalten</a>

    <a th:href="@{/topics}">Themen verwalten</a>

    <a th:href="${user.role == 'ADMIN' ? '/admin/users' : '/profile'}">
        <span th:text="${user.role == 'ADMIN'} ? 'Benutzerverwaltung' : 'Benutzerprofil'"></span>
    </a>

    <a th:href="@{/logout}">Ausloggen</a>

</body>
</html>