<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/welcome.css">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
    <h1>Willkommen im Learning Journal,
        <span th:if="${user != null}" th:text="${user.firstName}"></span>
        <span th:if="${user != null}" th:text="${user.lastName}"></span> !</h1>

    <p>Hier können Sie Ihre Notizen und Lerninhalte speichern und verwalten.</p>

    <a href="teachingClass.html" th:href="@{/teachingClass}">Unterrichtsklassen verwalten</a><br>
    <a href="topics.html" th:href="@{/topics}">Themen verwalten</a><br>
    <a href="logout.html" th:href="@{/logout}">Ausloggen</a><br>

</body>
</html>